.header1 {
    height: 228px;
    background: url(aple.png);
    background-repeat: no-repeat;
    background-color: aqua;
    border: 10px dotted black;
    margin-bottom: 2rem;
    background-origin: border-box; 
}
.header1 {
    height: 229px;
    background: url(aple.png);
    background-repeat: no-repeat;
    background-color: aqua;
    border: 10px dotted black;
    margin-bottom: 2rem;
    background-origin: border-box; 
}
.header1 {
    height: 229px;
    background: url(aple.png);
    background-repeat: no-repeat;
    background-color: aqua;
    border: 10px dotted black;
    margin-bottom: 2rem;
    background-origin: border-box; 
}
.header1 {
    height: 229px;
    background: url(aple.png);
    background-repeat: no-repeat;
    background-color: aqua;
    border: 10px dotted black;
    margin-bottom: 2rem;
    background-origin: border-box; 
}
.header1 {
    height: 229px;
    background: url(aple.png);
    background-repeat: no-repeat;
    background-color: aqua;
    border: 10px dotted black;
    margin-bottom: 2rem;
    background-origin: border-box; 
}
.header1 {
    height: 229px;
    background: url(aple.png);
    background-repeat: no-repeat;
    background-color: aqua;
    border: 10px dotted black;
    margin-bottom: 2rem;
    background-origin: border-box; 
}
.header1 {
    height: 229px;
    background: url(aple.png);
    background-repeat: no-repeat;
    background-color: aqua;
    border: 10px dotted black;
    margin-bottom: 2rem;
    background-origin: border-box; 
}
.header1 {
    height: 229px;
    background: url(aple.png);
    background-repeat: no-repeat;
    background-color: aqua;
    border: 10px dotted black;
    margin-bottom: 2rem;
    background-origin: border-box; 
}
.header1 {
    height: 229px;
    background: url(aple.png);
    background-repeat: no-repeat;
    background-color: aqua;
    border: 10px dotted black;
    margin-bottom: 2rem;
    background-origin: border-box; 
}
.header1 {
    height: 229px;
    background: url(aple.png);
    background-repeat: no-repeat;
    background-color: aqua;
    border: 10px dotted black;
    margin-bottom: 2rem;
    background-origin: border-box; 
}
.header1 {
    height: 229px;
    background: url(aple.png);
    background-repeat: no-repeat;
    background-color: aqua;
    border: 10px dotted black;
    margin-bottom: 2rem;
    background-origin: border-box; 
}
.header1 {
    height: 229px;
    background: url(aple.png);
    background-repeat: no-repeat;
    background-color: aqua;
    border: 10px dotted black;
    margin-bottom: 2rem;
    background-origin: border-box; 
}
.header1 {
    height: 229px;
    background: url(aple.png);
    background-repeat: no-repeat;
    background-color: aqua;
    border: 10px dotted black;
    margin-bottom: 2rem;
    background-origin: border-box; 
}
.header1 {
    height: 229px;
    background: url(aple.png);
    background-repeat: no-repeat;
    background-color: aqua;
    border: 10px dotted black;
    margin-bottom: 2rem;
    background-origin: border-box; 
}
.header1 {
    height: 229px;
    background: url(aple.png);
    background-repeat: no-repeat;
    background-color: aqua;
    border: 10px dotted black;
    margin-bottom: 2rem;
    background-origin: border-box; 
}
.header1 {
    height: 229px;
    background: url(aple.png);
    background-repeat: no-repeat;
    background-color: aqua;
    border: 10px dotted black;
    margin-bottom: 2rem;
    background-origin: border-box; 
}
.header1 {
    height: 229px;
    background: url(aple.png);
    background-repeat: no-repeat;
    background-color: aqua;
    border: 10px dotted black;
    margin-bottom: 2rem;
    background-origin: border-box; 
}
.header1 {
    height: 229px;
    background: url(aple.png);
    background-repeat: no-repeat;
    background-color: aqua;
    border: 10px dotted black;
    margin-bottom: 2rem;
    background-origin: border-box; 
}
.header1 {
    height: 229px;
    background: url(aple.png);
    background-repeat: no-repeat;
    background-color: aqua;
    border: 10px dotted black;
    margin-bottom: 2rem;
    background-origin: border-box; 
}
.header1 {
    height: 229px;
    background: url(aple.png);
    background-repeat: no-repeat;
    background-color: aqua;
    border: 10px dotted black;
    margin-bottom: 2rem;
    background-origin: border-box; 
}
.header1 {
    height: 229px;
    background: url(aple.png);
    background-repeat: no-repeat;
    background-color: aqua;
    border: 10px dotted black;
    margin-bottom: 2rem;
    background-origin: border-box; 
}
.header1 {
    height: 229px;
    background: url(aple.png);
    background-repeat: no-repeat;
    background-color: aqua;
    border: 10px dotted black;
    margin-bottom: 2rem;
    background-origin: border-box; 
}
